<div class='container'>
  <div class='row'>
    <h1 class="title px-3 mx-auto">
      <span>W</span>
      <span>e</span>
      <span>l</span>
      <span>c</span>
      <span>o</span>
      <span>m</span>
      <span>e</span>
      <span>&nbsp;</span>
      <span>t</span>
      <span>o</span>
      <span>&nbsp;</span>
    </h1>
  </div>
  <div class='row'>
    <h1 class="title px-3 mx-auto">
      <span><i class="fas fa-book"></i></span>
      <span>B</span>
      <span>o</span>
      <span>o</span>
      <span>k</span>
      <span>e</span>
      <span>r</span>
      <span>s</span>
      <span>!</span>
    </h1>
  </div>
  </div>
</div>